<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">

    <Appenders>
        <Console name="consoleAppender" target="SYSTEM_OUT">
            <!--SHORT PATTERN-->
            <PatternLayout pattern="%d{ABSOLUTE} %level{length=5} [%thread] %logger{1} - %msg%n"/>
            <!--ROBUST PATTERN
            <PatternLayout pattern="%d{ISO8601} %level{length=5} [%thread] %logger - %msg%n"/>-->
        </Console>

        <Routing name="RoutingAppender">
            <Routes pattern="${ctx:logFileName}">
                <Route>
                    <RollingFile name="Rolling-${ctx:logFileName}"
                                 fileName="logs/${ctx:logFileName}"
                                 filePattern="logs/${ctx:logFileName}.%i.log.gz">
                        <PatternLayout pattern="%d{ABSOLUTE} %level{length=5} [%thread] %logger{1} - %msg%n"/>
                        <SizeBasedTriggeringPolicy size="512" />
                    </RollingFile>
                </Route>

                <!-- By having this set to ${ctx:logFileName} it will match when filename
                     is not set in the context -->
                <Route ref="consoleAppender" key="${ctx:logFileName}"/>
            </Routes>
        </Routing>

    </Appenders>

    <Loggers>
        <Logger name="org.pierre.log4jrouter" level="info" additivity="false">
            <AppenderRef ref="RoutingAppender"/>
        </Logger>
    </Loggers>
</Configuration>